body {
    font-family: Roboto, sans-serif;
    display: grid;
    place-items: center;
    background: #ffffff;
    color: #000;
}

h1 {
    font-size: 34px;
    margin-top: 30px;
    color: #10a263;
}

button {
    background-color: #10a263;
    border: 3px solid #e8e8e8;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 57px;
    cursor: pointer;
    margin: 8px;
    transition: background 0.3s;
}

button:hover {
    background-color: #08683f;
}


#button-footer {
    position: fixed;
    bottom: 10px;     
    left: 10px;         
    right: 10px;       
    background-color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    border-radius: 57px;
    border: 3px solid #e8e8e8;
    box-shadow: 0 -5px 5px rgba(0,0,0,0.05);
    z-index: 998;
}



.calendar {
    width: 350px; 
}

.calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: bold;
}

.month-btn {
    background: none;
    border: none;
    color: #12b971;
    font-size: 22px;
    cursor: pointer;
    padding: 5px 10px;
}

.month-btn:hover {
    background: none;
    color: #08683f;
}


.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
}  

.weekdays div {
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
}

.days div {
    border: 1px solid #a2a1a1;
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
}

.days div:hover {
    background-color: #e8e8e8;
}


.days div.completed {
    background-color: #13cc7c;
    color: white;
    font-weight: bold;
}

.days div.selected {
    background-color: #10a263;
    color: white;
    font-weight: bold;
}


.today {
    background-color: #a5ffd8;
    font-weight: bold;
    font-size: 20px;
}


.hidden-day-buttons {
    display: none;
}

.hidden-task-buttons {
    display: none !important;
}


#add-btn {
    font-size: 30px;
}

#cancel-btn {
    font-size: 30px;
    background-color: #ff6663;
}


.progress-wrapper {
  width: 350px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.progress-container {
  flex: 1;
  height: 14px;
  background-color: #e8e8e8;
  border-radius: 20px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background-color: #10a263;
  transition: width 0.4s ease;
}

.progress-text {
  font-weight: bold;
  color: #10a263;
  min-width: 40px;
  text-align: right;
}


#overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.3);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 999;
}


#floating-panel {
  position: fixed;

  left: 10px;
  right: 10px;
  bottom: 10px;

  background: white;
  border-radius: 57px;
  border: 3px solid #e8e8e8;
  box-shadow: 0 -5px 5px rgba(0,0,0,0.05);

  display: flex;
  flex-direction: column;
  padding: 20px;

  transform: translateY(120%);
  transition: transform 0.4s ease;

  z-index: 1001;
}

#floating-panel.active {
  transform: translateY(0);
}


.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-weight: bold;
  border-bottom: 1px solid #eee;
}


.panel-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#overlay.active {
  opacity: 1;
  pointer-events: auto;
}


.task-actions {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.task-actions button {
  flex: 1;
}

#addTask-btn {
  font-size: 30px;
}
