body {
    font-family: Arial, sans-serif;
    display: grid;
    place-items: center;
    background: #ffffff;
    color: #000;
}

h1 {
    margin-top: 30px;
    color: #10a263;
}

button {
    background-color: #33ffa7;
    border: 3px solid #e8e8e8;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 57px;
    cursor: pointer;
    margin: 8px;
    transition: background 0.3s;
}

button:hover {
    background-color: #10a263;
}


#button-footer {
    position: fixed;     
    bottom: 0;            
    left: 0;
    width: 100%;         
    background-color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: center; 
    box-shadow: 0 -2px 5px rgba(0,0,0,0);
    z-index: 1000;         
}


#task-wrapper {
    background-color: none;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #e8e8e8;
    width: 350px; 
    height: 500px;
    box-shadow: 0 -2px 5px rgba(0,0,0,0);       
}



.calendar {
    width: 350px; 
}

.calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: bold;
}

.month-btn {
    background: none;
    border: none;
    color: #12b971;
    font-size: 22px;
    cursor: pointer;
    padding: 5px 10px;
}

.month-btn:hover {
    background: none;
    color: #08683f;
}


.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
}  

.weekdays div {
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
}

.days div {
    border: 1px solid #a2a1a1;
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
}

.days div:hover {
    background-color: #e8e8e8;
}


.days div.completed {
    background-color: #13cc7c;
    color: white;
    font-weight: bold;
}

.days div.selected {
    background-color: #10a263;
    color: white;
    font-weight: bold;
}


.today {
    background-color: #a5ffd8;
    font-weight: bold;
    font-size: 20px;
}


.hidden-day-buttons {
    display: none;
}


#add-btn {
    font-size: 30px;
}

#cancel-btn {
    font-size: 30px;
    background-color: #ff6663;
}


.progress-wrapper {
  width: 350px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.progress-container {
  flex: 1;
  height: 14px;
  background-color: #e8e8e8;
  border-radius: 20px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background-color: #10a263;
  transition: width 0.4s ease;
}

.progress-text {
  font-weight: bold;
  color: #10a263;
  min-width: 40px;
  text-align: right;
}

